
body{
    font-family: Arial, sans-serif;
}
.image{
    
    margin-top: 20px;
    margin-left: 47%;
}
.full{
    background-color: rgb(255, 255, 255);
    height: 680px;
}
.container{
    margin-top: 60px;
    background-color: gainsboro;
    height: 300px;
    margin-left: 180px;
    margin-right: 180px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.para{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}
footer{
    background-color: rgb(47, 44, 44);
    font-size: 16px;
    color: white;
    text-align: center;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
   
    bottom: 0;
    left: 0;
    width: 100%;
    
}
#portfolio{
    height: 50px;
    
 text-align: center;
 background-color: rgb(47, 44, 44);
 margin-top: 0;
 color: white;
 border: 1px solid rgb(0, 0, 0);

 padding-top: 2px;
 padding-bottom: 20px;
}
#nav{
  
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 2px;
    margin: 0;
  background-color: rgb(233, 233, 233);
    font-size: x-large;
    
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
 
 }
a:hover, a:active{
    color: rgb(103, 15, 227);
}
a{
    text-decoration: none;

}
footer a {
    color: white;
    font-size: small;
}
